h2.welcome {
  background-image: url("../photos/Deadpool.jpg");
  width: 100%;
  height: 50px;
  text-align: center;
}

#hello {
  font-size: 200px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
#itIsMe {
  font-size: 100px;
  font-family: "Sevillana", cursive;
  font-optical-sizing: 0px;
  font-weight: normal;
  font-style: normal;
}
p.second {
  border: 3px solid black;
  height: 100px;
  overflow: auto;
}
div.navi a {
  padding: 20px;
  color: black;
}

@media screen and (max-width: 600px) {
  body {
    color: red;
  }
}

div.navi {
  background-color: none;
  text-align: center;
  height: 30px;
  text-decoration: aqua;
}
.navi a:hover {
  color: aqua;
}

.clip {
  clip-path: circle(35% at 50% 50%);
}
span:before {
  content: "\a";
  white-space: pre;
}
